[submodule "src/content/posts"]
	path = src/content/posts
	url = https://github.com/shovanch/shovanch.com-posts.git
[submodule "src/content/vault"]
	path = src/content/vault
	url = https://github.com/shovanch/shovanch.com-vault.git
