<div
  class="center-content flex h-[500px] w-full items-center justify-center rounded bg-zinc-800"
>
  <div
    class="h-12 w-12 animate-spin rounded-full border-4 border-zinc-200 border-t-transparent"
  >
  </div>
</div>
