---
import NavLink from './nav-link.astro';
import { menuItems } from '~/config/site';
---

<nav
  class="hidden w-full flex-row items-center justify-between md:flex"
  aria-label="Desktop navigation"
>
  <div
    class="text-theme-text flex flex-row items-start gap-5 font-medium"
    role="group"
    aria-label="Main navigation links"
  >
    <!-- Home, Search is not shown explicity on desktop nav, handled through menu overlay -->
    {
      menuItems
        .filter((item) => !['home', 'search'].includes(item.label))
        .map((item) => <NavLink href={item.url}>{item.label}</NavLink>)
    }
  </div>
  <div class="flex items-center gap-3" role="group" aria-label="Search options">
    <a
      href="/search/"
      class="focus:ring-theme-text px-2 py-1 font-sans text-xl font-medium"
      aria-label="Search posts and pages"
    >
      <span>search</span>
    </a>
  </div>
</nav>
